.main-title {
  margin: 0;
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
  border-bottom: 1px solid rgba(0, 0, 0, 1);
  padding-bottom: 23px;
  letter-spacing: -0.04em;
}

@media screen and (max-width: 500px) {
  .main-title {
    font-size: 18px;
    line-height: 22px;
    padding-bottom: 28px;
  }
}
