.app {
  /* min-width: 100px; */
  margin: auto;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 400;
  color: rgba(0, 0, 0, 1);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ffffff;
  position: relative;
  min-height: 100vh;
}

@media screen and (max-width: 810px) {
  .app {
  }
}

@media screen and (max-width: 500px) {
  .app {
  }
}
