.nav-tab {
  display: flex;
  align-items: center;
  min-height: 66px;
  background-color: rgba(245, 245, 245, 1);
}

.nav-tab__list {
  display: flex;
  margin: auto;
  padding: 0;
  list-style-type: none;
}

.nav-tab__list-element {
  margin-right: 40px;
  text-decoration-line: underline;
  font-size: 13px;
  line-height: 16px;
  font-weight: 500;
}

.nav-tab__list-element:last-child {
  margin-right: 0;
}

@media screen and (max-width: 410px) {
  .nav-tab__list-element {
    font-size: 11px;
  }
}
